@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Fira+Sans:wght@200;300;400&display=swap');

.article {
  width: 320px;
  padding: 0;
  margin-bottom: 5%;
  background-color: #FcFcFc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.article:last-child{
  margin-bottom: 20%;
}

.article__header{
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: 'Fenix', serif;
  text-align: left;
  padding: 5%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,  rgb(250, 193, 108));
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.article__header h3{
  padding-right: 5px;
}

.article__body{
  font-size: 16px;
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  padding: 5%;
}

@media only screen and (min-width: 880px){
  .article{
    float: left;
    width: 40%;
    margin: 1% 5%;
  }

  .article__body{
    font-size: 18px;
  }
  .article:last-child{
    margin-bottom: 0;
  }
}

