.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #39607a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}
 .Logo {
   padding-top: 10px;
   height: 80%;
   width: auto;
 }
.Toolbar nav {
  height: 100%;
}


.AddNewButton {
  width: 100px;
  height: auto;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
