
.paper {
	color:#FFF;
	font-size:20px;
	display: flex;
  flex-direction: column;
  align-self: center;
}
.margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
.blogInputText {
  height: 50vh; 
	width: 320px;
	overflow:hidden;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:16px;
	resize:none;
	line-height:21px;
	padding: 24px 0px 24px 20px;
	background-image: linear-gradient(#ece63d80,#ece63d80), url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-size: 100%;
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
  overflow: hidden; 
  word-wrap: break-word; 
  resize: none; 
}
.blogInputTitle {
	background-color: #1c1c1c20;
	color:#000;
	font-size:20px;
	font-family:Courier, monospace;
	height:28px;
	font-weight:bold;
	border:none;
	width: 90%;
}
.blogButton {
	cursor:pointer;
	margin-top:20px;
	float:right;
	height:40px;
	padding: 0 24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	color:#FFF;
	text-shadow: 0px -1px 0px #000000;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-top:1px solid #FFF;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	background-color: #62add6;
	background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
	background-repeat:repeat-x;
}
.blogButton:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.blogButton:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.wrapper {
	height:auto;
	margin: 24px auto 100px;
}

.PostButton {
  background-color: #fefefe;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: rgb(209, 147, 54);
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px rgb(250, 193, 108);
}

.PostButton:hover,
.PostButton:active {
  background-color: #a0db41;
  border: 1px solid rgb(250, 193, 108);
  color: rgb(250, 193, 108);
}

.PostButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.PostButton:not(:disabled) {
  animation: enable 0.3s linear;
}


@media only screen and (min-width: 880px){
	.wrapper{
		margin-top: 5%;
	}
	.wrapper {
		width: 660px;
	}
}