.Logo {
  background-color: white;
  height: 40px;
  width: auto;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
}

.Logo img {
  height: 100%;
}

@media only screen and (min-width:880px){
  .Logo {
    height: 60px;
  }
  @media (prefers-reduced-motion: no-preference) {
    .Logo img {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
}
