.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  display: flex;
  align-self: center;
}


.Success {
  color: #39607a;
}

.Danger {
  color: #944317;
}

.Button:disabled {
  color: #b9b9b9;
  border: solid #b9b9b9;
  cursor: not-allowed;
}
