.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px 20px;
  margin: 10px;
  font-weight: bold;
  align-self: center;
  border-radius: 50px;
}


.Primary {
  color: #ff8f00;
  background-color: #39607a;
}

.Danger {
  color: #4D9DE0;
}

.Button:disabled {
  display: none;
  cursor: not-allowed;
}
