.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}



.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.BlogInputText {
  min-height: 60vh;
	width:340px;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:16px;
	line-height:21px;
  padding: 24px 10px 24px 20px;

	background-image: linear-gradient(#ece63d80,#ece63d80), url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-size: 100%;
  outline-width: 0 !important;
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 4px 8px #000;
  overflow: hidden; 
  word-wrap: break-word; 
  resize: none; 
}