.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20%  auto;
  width: 80%;
  text-align: center;
  background-color: #39607A;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  z-index: 0;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
